[Desktop Entry]
Name=Move Window
Comment=KWin script that adds shortcuts to move the active window with the keyboard
Icon=preferences-system-windows-script-test

Type=Service

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
X-KDE-PluginInfo-Author=Kristen McWilliam
X-KDE-PluginInfo-Email=kmcwilliampublic@gmail.com
X-KDE-PluginInfo-Name=movewindow
X-KDE-PluginInfo-Version=1.0.0

X-KDE-PluginInfo-License=GPL3
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginKeyword=movewindow
